

.logo-title {
  color: #FFF;
  font-size: 16px;
  margin: 0;
  padding-right: 10px;
}

.logo {
  align-items: center;
  display: flex;
  float: left;
  justify-content: space-evenly;
  height: 100%;
  width: 20%;
}

@media (max-width: 1024px) {
  .logo {
    width: 210px;
  }
}