.dashboard-wrapper {
  background-color: #FFF;
  padding: 30px;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: firebrick;
}

.bg-shopping-quantity {
  background-color: black;
}

.bg-shopping-value {
  background-color: darkslateblue;
}

.small-box {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 85px;
}

.small-box:hover .icon {
  font-size: 36px;
}

.small-box .inner {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}

.small-box .icon {
  color: #FFF;
  font-size: 30px;
  transition: font-size .5s;
}

.small-box .inner-value {
  color: #FFF;
  font-size: 30px;
  margin-bottom: 0;
}

.small-box .inner-text {
  color: #FFF;
  margin-bottom: 0;
  text-align: center;
  width: 50%;
}

@media (max-width: 1024px) {

  .small-box {
    height: unset;
    min-height: 155px;
    flex-direction: column;
  }

  .small-box .inner-text {
    margin-top: 20px;
    width: 100%;
  }

  .small-box .inner {
    flex-direction: column-reverse;
    width: 100%;
  }
}