.shopping-list-items {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.shopping-list-items .ant-form-item-label {
  width: 100%;
  text-align: center;
}

.shopping-list-items .shopping-list-add {
  width: 100%;
}

.shopping-list-fields {
  display: flex;
  justify-content: center;
}

.shopping-list-date {
  margin-right: 5px;
}

.shopping-list-supermarket {
  width: 19%;
}

.shopping-list-fields .ant-form-item-label, .shopping-list-supermarket .ant-form-item-label {
  text-align: center;
  width: 100%;
}


@media (max-width: 425px) {
  .shopping-list-fields {
    align-items: center;
    flex-direction: column;
  }

  .shopping-list-supermarket {
    width: 100%;
  }

  .item-fields-product, .item-fields-quantity {
    width: 85% !important;
  }

  .item-line {
    float: left;
    margin-bottom: 30px;
  }
}