.anticon-loading {
  font-size: 30px;
}

.ant-spin-spinning {
  display: flex;
  width: 100%;
  justify-content: center;
}

.center-content {
  max-width: 1200px;
  margin: auto;
  position: relative;
  width: 100%;
}

.center-content.wrapper-content {
  margin-top: 30px;
  min-height: 69vh;
}

.center-content .add-button {
  position: absolute;
  right: 0;
  bottom: 50%;
}

.form {
  background-color: #FFF;
  padding: 30px;
}

.text-center {
  text-align: center;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: #1890ff;
  padding: 0;
}

.shopping-list-buy-table {
  width: 100%;
}

.table-align-center {
  text-align: center !important;
}

.supermarket-item {
  margin-bottom: 30px;
}

.shopping-list-show {
  background-color: #FFF;
  padding: 50px;
}